@font-face {
    font-family: 'TheinhardtBold';
    src: url('../fonts/invent/theinhardt-bold-webfont.eot');
    src: url('../fonts/invent/theinhardt-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/invent/theinhardt-bold-webfont.woff') format('woff'),
         url('../fonts/invent/theinhardt-bold-webfont.ttf') format('truetype'),
         url('../fonts/invent/theinhardt-bold-webfont.svg#theinhardtbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
//@font-face {
//  font-family: 'TheinhardtBoldItalic';
//  src: url('../fonts/invent/theinhardt-boldita-webfont.eot');
//  src: url('../fonts/invent/theinhardt-boldita-webfont.eot?#iefix') format('embedded-opentype'),
//       url('../fonts/invent/theinhardt-boldita-webfont.woff') format('woff'),
//       url('../fonts/invent/theinhardt-boldita-webfont.ttf') format('truetype'),
//       url('../fonts/invent/theinhardt-boldita-webfont.svg#theinhardtbold_italic') format('svg');
//  font-weight: normal;
//  font-style: normal;
//}

@font-face {
  font-family: 'TheinhardtLight';
  src: url('../fonts/invent/theinhardt-light-webfont.eot');
  src: url('../fonts/invent/theinhardt-light-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/invent/theinhardt-light-webfont.woff') format('woff'),
       url('../fonts/invent/theinhardt-light-webfont.ttf') format('truetype'),
       url('../fonts/invent/theinhardt-light-webfont.svg#theinhardtlight') format('svg');
  font-weight: normal;
  font-style: normal;
}
//@font-face {
//  font-family: 'TheinhardtLightItalic';
//  src: url('../fonts/invent/theinhardt-lightita-webfont.eot');
//  src: url('../fonts/invent/theinhardt-lightita-webfont.eot?#iefix') format('embedded-opentype'),
//       url('../fonts/invent/theinhardt-lightita-webfont.woff') format('woff'),
//       url('../fonts/invent/theinhardt-lightita-webfont.ttf') format('truetype'),
//       url('../fonts/invent/theinhardt-lightita-webfont.svg#theinhardtlight_italic') format('svg');
//  font-weight: normal;
//  font-style: normal;
//}

//@font-face {
//  font-family: 'TheinhardtRegular';
//  src: url('../fonts/invent/theinhardt-regular-webfont.eot');
//  src: url('../fonts/invent/theinhardt-regular-webfont.eot?#iefix') format('embedded-opentype'),
//       url('../fonts/invent/theinhardt-regular-webfont.woff') format('woff'),
//       url('../fonts/invent/theinhardt-regular-webfont.ttf') format('truetype'),
//       url('../fonts/invent/theinhardt-regular-webfont.svg#theinhardtregular') format('svg');
//  font-weight: normal;
//  font-style: normal;
//}
//@font-face {
//  font-family: 'TheinhardtRegularItalic';
//  src: url('../fonts/invent/theinhardt-regularita-webfont.eot');
//  src: url('../fonts/invent/theinhardt-regularita-webfont.eot?#iefix') format('embedded-opentype'),
//       url('../fonts/invent/theinhardt-regularita-webfont.woff') format('woff'),
//       url('../fonts/invent/theinhardt-regularita-webfont.ttf') format('truetype'),
//       url('../fonts/invent/theinhardt-regularita-webfont.svg#theinhardtregular_italic') format('svg');
//  font-weight: normal;
//  font-style: normal;
//}
//
//
//
//@font-face {
//    font-family: 'TheinhardtBlack';
//    src: url('../fonts/invent/theinhardt-black-webfont.eot');
//    src: url('../fonts/invent/theinhardt-black-webfont.eot?#iefix') format('embedded-opentype'),
//         url('../fonts/invent/theinhardt-black-webfont.woff') format('woff'),
//         url('../fonts/invent/theinhardt-black-webfont.ttf') format('truetype'),
//         url('../fonts/invent/theinhardt-black-webfont.svg#theinhardtblack') format('svg');
//    font-weight: normal;
//    font-style: normal;
//
//}
//@font-face {
//    font-family: 'TheinhardtBlackItalic';
//    src: url('../fonts/invent/theinhardt-blackita-webfont.eot');
//    src: url('../fonts/invent/theinhardt-blackita-webfont.eot?#iefix') format('embedded-opentype'),
//         url('../fonts/invent/theinhardt-blackita-webfont.woff') format('woff'),
//         url('../fonts/invent/theinhardt-blackita-webfont.ttf') format('truetype'),
//         url('../fonts/invent/theinhardt-blackita-webfont.svg#theinhardtblack_italic') format('svg');
//    font-weight: normal;
//    font-style: normal;
//
//}
//
//@font-face {
//    font-family: 'TheinhardtMedium';
//    src: url('../fonts/invent/theinhardt-medium-webfont.eot');
//    src: url('../fonts/invent/theinhardt-medium-webfont.eot?#iefix') format('embedded-opentype'),
//         url('../fonts/invent/theinhardt-medium-webfont.woff') format('woff'),
//         url('../fonts/invent/theinhardt-medium-webfont.ttf') format('truetype'),
//         url('../fonts/invent/theinhardt-medium-webfont.svg#theinhardtmedium') format('svg');
//    font-weight: normal;
//    font-style: normal;
//
//}
//
//@font-face {
//    font-family: 'TheinhardtMediumItalic';
//    src: url('../fonts/invent/theinhardt-mediumita-webfont.eot');
//    src: url('../fonts/invent/theinhardt-mediumita-webfont.eot?#iefix') format('embedded-opentype'),
//         url('../fonts/invent/theinhardt-mediumita-webfont.woff') format('woff'),
//         url('../fonts/invent/theinhardt-mediumita-webfont.ttf') format('truetype'),
//         url('../fonts/invent/theinhardt-mediumita-webfont.svg#theinhardtmedium_italic') format('svg');
//    font-weight: normal;
//    font-style: normal;
//
//}
//
//@font-face {
//    font-family: 'TheinhardtHeavy';
//    src: url('../fonts/invent/theinhardt-heavy-webfont.eot');
//    src: url('../fonts/invent/theinhardt-heavy-webfont.eot?#iefix') format('embedded-opentype'),
//         url('../fonts/invent/theinhardt-heavy-webfont.woff') format('woff'),
//         url('../fonts/invent/theinhardt-heavy-webfont.ttf') format('truetype'),
//         url('../fonts/invent/theinhardt-heavy-webfont.svg#theinhardtheavy') format('svg');
//    font-weight: normal;
//    font-style: normal;
//
//}
//
//@font-face {
//    font-family: 'TheinhardtHeavyItalic';
//    src: url('../fonts/invent/theinhardt-heavyita-webfont.eot');
//    src: url('../fonts/invent/theinhardt-heavyita-webfont.eot?#iefix') format('embedded-opentype'),
//         url('../fonts/invent/theinhardt-heavyita-webfont.woff') format('woff'),
//         url('../fonts/invent/theinhardt-heavyita-webfont.ttf') format('truetype'),
//         url('../fonts/invent/theinhardt-heavyita-webfont.svg#theinhardtheavy_italic') format('svg');
//    font-weight: normal;
//    font-style: normal;
//
//}
//
//@font-face {
//    font-family: 'TheinhardtHairlineItalic';
//    src: url('../fonts/invent/theinhardt-hairlineita-webfont.eot');
//    src: url('../fonts/invent/theinhardt-hairlineita-webfont.eot?#iefix') format('embedded-opentype'),
//         url('../fonts/invent/theinhardt-hairlineita-webfont.woff') format('woff'),
//         url('../fonts/invent/theinhardt-hairlineita-webfont.ttf') format('truetype'),
//         url('../fonts/invent/theinhardt-hairlineita-webfont.svg#theinhardthairline_italic') format('svg');
//    font-weight: normal;
//    font-style: normal;
//
//}
//
//@font-face {
//    font-family: 'TheinhardtHairline';
//    src: url('../fonts/invent/theinhardt-hairline-webfont.eot');
//    src: url('../fonts/invent/theinhardt-hairline-webfont.eot?#iefix') format('embedded-opentype'),
//         url('../fonts/invent/theinhardt-hairline-webfont.woff') format('woff'),
//         url('../fonts/invent/theinhardt-hairline-webfont.ttf') format('truetype'),
//         url('../fonts/invent/theinhardt-hairline-webfont.svg#theinhardthairline') format('svg');
//    font-weight: normal;
//    font-style: normal;
//
//}

@font-face {
    font-family: 'TheinhardtThin';
    src: url('../fonts/invent/theinhardt-thin-webfont.eot');
    src: url('../fonts/invent/theinhardt-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/invent/theinhardt-thin-webfont.woff') format('woff'),
         url('../fonts/invent/theinhardt-thin-webfont.ttf') format('truetype'),
         url('../fonts/invent/theinhardt-thin-webfont.svg#theinhardtthin') format('svg');
    font-weight: normal;
    font-style: normal;

}

//@font-face {
//    font-family: 'TheinhardtThinItalic';
//    src: url('../fonts/invent/theinhardt-thinita-webfont.eot');
//    src: url('../fonts/invent/theinhardt-thinita-webfont.eot?#iefix') format('embedded-opentype'),
//         url('../fonts/invent/theinhardt-thinita-webfont.woff') format('woff'),
//         url('../fonts/invent/theinhardt-thinita-webfont.ttf') format('truetype'),
//         url('../fonts/invent/theinhardt-thinita-webfont.svg#theinhardtthin_italic') format('svg');
//    font-weight: normal;
//    font-style: normal;
//}
//
//
//@font-face {
//    font-family: 'TheinhardtUltraLightItalic';
//    src: url('../fonts/invent/theinhardt-ultralightita-webfont.eot');
//    src: url('../fonts/invent/theinhardt-ultralightita-webfont.eot?#iefix') format('embedded-opentype'),
//         url('../fonts/invent/theinhardt-ultralightita-webfont.woff') format('woff'),
//         url('../fonts/invent/theinhardt-ultralightita-webfont.ttf') format('truetype'),
//         url('../fonts/invent/theinhardt-ultralightita-webfont.svg#theinhardtultra_light_italic') format('svg');
//    font-weight: normal;
//    font-style: normal;
//
//}
//
//@font-face {
//    font-family: 'TheinhardtUltraLight';
//    src: url('../fonts/invent/theinhardt-ultralight-webfont.eot');
//    src: url('../fonts/invent/theinhardt-ultralight-webfont.eot?#iefix') format('embedded-opentype'),
//         url('../fonts/invent/theinhardt-ultralight-webfont.woff') format('woff'),
//         url('../fonts/invent/theinhardt-ultralight-webfont.ttf') format('truetype'),
//         url('../fonts/invent/theinhardt-ultralight-webfont.svg#theinhardtultra_light') format('svg');
//    font-weight: normal;
//    font-style: normal;
//
//}